# ------------------------------------------------------------------------------
# Python
# ------------------------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ------------------------------------------------------------------------------
# Virtual Environments
# ------------------------------------------------------------------------------
venv/
.env/
.envrc
.venv/
pip-log.txt

# ------------------------------------------------------------------------------
# Distribution / Packaging
# ------------------------------------------------------------------------------
build/
dist/
*.egg-info/
.eggs/

# ------------------------------------------------------------------------------
# Byte-compiled / optimized / DLL files
# ------------------------------------------------------------------------------
*.dll
*.dylib
*.pyd

# ------------------------------------------------------------------------------
# IDE / Editor files
# ------------------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo

# ------------------------------------------------------------------------------
# macOS junk files
# ------------------------------------------------------------------------------
.DS_Store

# ------------------------------------------------------------------------------
# pytest / coverage / test cache
# ------------------------------------------------------------------------------
.pytest_cache/
coverage.xml
htmlcov/
.tox/
.nox/
.mypy_cache/
